body{
	background-color: #fff0f8;
	width: 98%;
	margin-left: auto;
	margin-right: auto;
}
body{
	font-family: "Verdana";
}
header h1{
	font-family: 'Anton', sans-serif;
	color:  #414239;
	font-size: 4em;
	margin: 10px 0px;
}
h2{
	font-family: 'Lobster', cursive;
	color:  #9e0947;
	font-size: 2,5em;
}

div{
	border-style: dotted;
	border-width: 1px;
	border-color: #d7d8cb;

}

video{
	width: 350px;
	height: 200px;
	visibility: hidden;
	display: none;
	visibility: visible;
	display: block;
}
.sinopsis{
	text-align: justify;
	margin-right: 3em;
	width: 500px;

}

h4{
	font-size: 1em;
	color: #ce105c;
}



li[famoso="principal"]{
	font-weight: bold;
}
li[famoso="secundario"]{
	font-style: italic;
}
ul{
	list-style-image: url('https://goo.gl/6hPSSH');
	margin-right: 3em;
}
img{
	width: 200px;
	margin-right: 3em;
}

img:hover{
	opacity: 0.8;
}
table {
	width: auto;

} 
